.projects {
  margin: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 35px;
}

.projectImg {
  width: 300px;
  height: 160px;
  border: 2px solid black;
}
.description {
  width: 400px;
}
p {
  font-size: 20px;
}
button {
  /* background-color: rgb(41 117 243); */
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid;
  cursor: pointer;
  font-weight: 700;
  color: #042b5f;
}

.projectLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px 25px;
  padding: 15px 0px;
  animation: projects-appear 1s ease-out forwards;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.projectLink:hover {
  background-color: #82b4f7;
  border-radius: 20px;
}

@keyframes projects-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}